.single-wrapper
  = render "devise/shared/header_one"
  %main.main
    %section.main__item-container
      .main__item-container__sell-container
        %div
          .main__item-container__sell-container__display-inner
            %h2.main__item-container__sell-container__display-inner__head 商品の情報を入力
            .main__item-container__sell-container__display-inner__sell-form
              = form_for @item_registration_form do |f|
                .sell-upload-box
                  %h3.sell-upload-box__head
                    出品画像
                    %span.form-require
                      必須
                  %p 最大10枚までアップロードできます。
                  .sell-dropbox-container
                    .sell-upload-items-container
                      .sell-upload-items.have-item-0
                        %ul
                    .sell-upload-dropbox.have-item-0
                      = f.fields_for :item_images[], @item_registration_form do |c|
                        = c.label :image do
                          = c.file_field :image, class: "sell-upload-drop-file-input", style: "display: none;", multiple: true
                          .sell-upload-drop-file
                          %pre.visible-pc
                            クリックしてファイルをアップロード
                          %i.fas.fa-camera
                .sell-content
                  .form-group
                    %label
                      商品名
                      %span.form-require 必須
                    %div
                      = f.text_field :name, class: "input-default", value: "", placeholder: "商品名（必須 40文字まで)"
                  .form-group
                    %label
                      商品の説明
                      %span.form-require 必須
                    = f.text_area :description, class: "textarea-default", rows: 5, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                .sell-content.clearfix
                  %h3.sell-sub-head 商品の詳細
                  .sell-form-box
                    .form-group
                      = f.label "カテゴリー" do
                        カテゴリー
                        %span.form-require 必須
                        %div#appending_form
                          .select-wrap
                            %i.fa.fa-angle-down
                            = f.select :category_id, {}, {}, {class: "select-default parent-category"} do
                              %option{value: ""} ---
                              %option{value: "1"} レディース
                              %option{value: "2"} メンズ
                    .form-group
                      = f.label "商品の状態" do
                        商品の状態
                        %span.form-require 必須
                        .select-wrap
                          %i.fa.fa-angle-down
                          = f.collection_select(:condition_id, Condition.all, :id, :name, {prompt: "---"}, {class: "select-default"})
                      -# 後でactive_hashを用いて実装する
                .sell-content.clearfix
                  %h3.sell-sub-head 配送について
                  = link_to "?", "/jp/help_center/article/68/", class: "form-question"
                  .sell-form-box
                    .form-group
                      = f.label "配送料の負担" do
                        配送料の負担
                        %span.form-require 必須
                      .select-wrap
                        %i.fa.fa-angle-down
                        = f.select :post_burden_id,{}, {}, {class: "select-default"} do
                          %option{value: ""} ---
                          %option{value: "1"} 送料込み(出品者負担)
                          %option{value: "2"} 着払い(購入者負担)
                    .form-group
                      = f.label "発送元の地域" do
                        発送元の地域
                        %span.form-require 必須
                      .select-wrap
                        %i.fa.fa-angle-down
                        = f.collection_select(:source_area_id, SourceArea.all, :id, :name, {prompt: "---"}, {class: "select-default"})
                        
                      -# 後でactive_hashを用いて実装する
                    .form-group
                      = f.label '発送までの日数' do
                        発送までの日数
                        %span.form-require 必須
                      .select-wrap
                        %i.fa.fa-angle-down
                        = f.collection_select(:shipping_date_id, ShippingDate.all, :id, :name, {prompt: "---"}, {class: "select-default"})
                .sell-content.clearfix
                  %h3.sell-sub-head 販売価格(300〜9,999,999)
                  = link_to '?', '/jp/help_center/article/64/', class:'form-question'
                  .sell-form-box
                    %ul.sell-price
                      %li.form-group
                        .clearfix
                          %label.l-left
                            価格
                            %span.form-require 必須
                          .l-right.sell-price-input
                            ¥
                            %div
                              = f.text_field :price, class: "input-default", id: "input-price", value: "", placeholder: "例)  300"
                      %li.clearfix
                        .l-left
                          販売手数料(10%)
                        .l-right.sell-fee -
                      %li.clearfix.bold
                        .l-left 販売利益
                      .l-right.sell-profit.bold -
                .modal{role: "dialog", tabindex: "-1"}
                  .model-inner
                .sell-content.sell-btn-box
                  %div
                    %p
                      =link_to '禁止されている出品', '/jp/help_center/getting_started/prohibited_items'
                      、
                      =link_to '行為を必ずご確認ください', '/jp/help_center/getting_started/prohibited_conduct/'
                    %p
                      またブランド品でシリアルナンバー等がある場合はご記載ください。
                      =link_to '偽ブランドの販売', '/jp/help_center/getting_started/counterfeit_goods/'
                      は犯罪であり、処罰される可能性があります。
                    %p
                      また、出品をもちまして
                      =link_to '加盟店規約', '/jp/seller_terms/'
                      に同意したことになります。
                  = f.submit '出品する', class: 'btn-default btn-red'
                  = link_to 'もどる', root_url, class: "btn-default btn-gray"
              .overlay
  = render "devise/shared/footer"