.mypage
  .mypage__header
    = render 'partial/header'
    = render 'partial/bread-crumbs'
  .mypage__body
    = render 'partial/mypage-nav-list'
    .mypage__body__content--logout
      .mypage__body__content--logout__container
        %form.mypage__body__content--logout__container__inner
          .log_out_content
            = link_to  'ログアウト', destroy_user_session_path, method: :delete, class: "btn-default btn-red"
  %aside.app-banner
    = render partial: 'items/bottom-banner'
  .mypage__footer
    = render 'partial/footer'