.edit-profile
  .edit-profile__header
    = render 'partial/header'
    = render 'partial/bread-crumbs'
  .edit-profile__body
    = render 'partial/mypage-nav-list'
    .edit-profile__body__content
      = render 'partial/mypage-top'
      = render 'partial/mypage-middle'
      = render 'partial/mypage-bottom'
      = render 'partial/edit-content'
  .edit-profile__footer
    = render 'partial/footer'