.edit-profile
  .edit-profile__header
    = render 'partial/header'
    = render 'partial/bread-crumbs'
  .edit-profile__body
    = render 'partial/mypage-nav-list'
    = render 'partial/edit-content'
  .edit-profile__footer
    = render 'partial/footer'