.mypage
  .mypage__header
    = render 'partial/header'
    - breadcrumb :mypage
    = breadcrumbs separator: " &rsaquo; "
  .mypage__body
    = render 'partial/mypage-nav-list'
    .mypage__body__content
      = render 'partial/mypage-top'
      = render 'partial/mypage-middle'
      = render 'partial/mypage-bottom'
  %aside.app-banner
    = render partial: 'items/bottom-banner'
  .mypage__footer
    = render 'partial/footer'
= render partial: 'partial/item-buy-btn'
