.mypage
  .mypage__header
    = render 'partial/header'
    - breadcrumb :mypage
  .mypage__body
    = render 'partial/mypage-nav-list'
    .mypage__body__content
      = render 'partial/mypage-top'
      = render 'partial/mypage-middle'
      = render 'partial/mypage-bottom'
  .mypage__footer
    = render 'partial/footer'
