%footer.footer
	%nav.footer__content
		.footer__content__cell
			%h2.footer__content__cell__head
				メルカリについて
			%ul
				%li
					= link_to "会社概要（運営会社）", "https://about.mercari.com/"
				%li
					= link_to "採用情報", "https://www.mercari.com/jp/jobs/"
				%li
					= link_to "プレスリリース", "https://about.mercari.com/press/news/"
				%li
					= link_to "公式ブログ", "https://jp-news.mercari.com/"
				%li
					= link_to "メルカリロゴ利用ガイドライン", "https://www.mercari.com/jp/logo-guidelines/"
				%li.footer__content__cell--social-link
					= link_to "https://twitter.com/mercari_jp" do
						%i.fab.fa-twitter
				%li.footer__content__cell--social-link
					= link_to "https://www.facebook.com/mercarijp" do
						%i.fab.fa-facebook-square
		.footer__content__cell
			%h2.footer__content__cell__head
				ヘルプ＆ガイド
			%ul
				%li
					= link_to "メルカリガイド", "https://www.mercari.com/jp/help_center/"
				%li
					= link_to "らくらくメルカリ便", "https://www.mercari.com/jp/rakuraku-mercari/"
				%li
					= link_to "ゆうゆうメルカリ便", "https://www.mercari.com/jp/yuyu-mercari/"
				%li
					= link_to "大型メルカリ便", "https://www.mercari.com/jp/rakuraku-ogata/"
				%li
					= link_to "車体取引ガイド", "https://www.mercari.com/jp/guide/car/"
				%li
					= link_to "メルカリあんしん・あんぜん宣言！", "https://www.mercari.com/jp/safe/description/"
				%li
					= link_to "偽ブランド品撲滅への取り組み", "https://www.mercari.com/jp/authenticity/"
				%li
					= link_to "メルカリボックス", "https://www.mercari.com/jp/box/"
		.footer__content__cell.footer__policy
			%h2.footer__content__cell__head
				プライバシーと利用規約
			.footer__content__cell__inner
				%ul
					%li
						= link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
					%li
						= link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
					%li
						= link_to "あんしんスマホサポート制度に関する利用特約", "https://www.mercari.com/jp/tos_smartphone_support/"
					%li
						= link_to "コンプライアンスポリシー", "https://www.mercari.com/jp/compliance/"
			.footer__content__cell__inner
				%ul
					%li
						= link_to "個人データの安全管理に係る基本方針", "https://www.mercari.com/jp/data_security/"
					%li
						= link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
					%li
						= link_to "資金決済法に基づく表示", "https://www.mercari.com/jp/shikin_kessai/"
					%li
						= link_to "法令順守と犯罪抑止のために", "https://about.mercari.com/csr/safety/"
		.footer__content__cell.footer__lang
			%h2.footer__content__cell__head
				国
			%ul
				%li
					= link_to "日本", "https://www.mercari.com/jp/"
				%li
					= link_to "United States", "https://www.mercari.com/"
					
	.footer__bottom
		= link_to "https://www.mercari.com/jp/", class: "footer__bottom__logo" do
			= image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?891577966"
		%span.footer__bottom__copyright
			%small © 2019 Mercari
		