.header
  .header__top
    .header__top__logo
      = link_to 'https://www.mercari.com/jp' do
        = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2334484240', alt: 'mercari', height: '36', width: '134', class: 'header-top__image'
    %form{action: "https://www.mercari.com/jp/search/", class: "search-form"}
      %input{type: "search", placeholder: " 何かお探しですか？", class: "search-field"}
      %button{type: "submit", class: "search-button"}
        %i.fas.fa-search
  .header__nav-box
    %span.header__nav-box__left
      %span.header__nav-box__left__category
        = link_to 'カテゴリーから探す', 'https://www.mercari.com/jp/search/?keyword=', class: 'header-nav-box__left__category__link'
      %span.header__nav-box__left__brand
        = link_to 'ブランドから探す', 'https://www.mercari.com/jp/brand/', class: 'header-nav-box__left__brand__link'
    %span.header__nav-box__right
      %span.header__nav-box__right__likes
        = link_to 'いいね!一覧', 'https://www.mercari.com/jp/mypage/like/history/', class: 'header-nav-box__right__likes__link'
      %span.header__nav-box__right__notice
        = link_to 'お知らせ', 'https://www.mercari.com/jp/mypage/notification/', class: 'header-nav-box__right__notice__link'
      %span.header__nav-box__right__todo
        = link_to 'やることリスト', 'https://www.mercari.com/jp/mypage/todo/', class: 'header-nav-box__right__todo__link'
      %span.header__nav-box__right__mypage
        = image_tag 'https://static.mercdn.net/images/member_photo_noimage_thumb.png', height: '30', width: '30', class: 'user-icon'
        = link_to 'マイページ', 'https://www.mercari.com/jp/mypage/', class: 'header-nav-box__right__mypage__link'