.deal-done-main-container
  %header.deal-done-header
    = render "devise/shared/header_one"
  %main.deal-done-main
    %section.deal-done-single-container.buy-item-container
      .deal-done-attention
        %h3
          %i.far.fa-clock
          %span
            発送をお待ちください
        %p
          出品者からの発送通知をお待ちください
      %h2.deal-done-head
        購入が完了しました
      %section.deal-content.deal-item
        .deal-content__inner
          %h3.deal-item-image
            = image_tag @deal.item.item_images.first.image.url
          %p.deal-item-name
            = @deal.item.name
      %section.deal-content.deal-user-info.deal-item
        .deal-content__inner
          %p.deal-user-name
            = @deal.buyer.nickname
      %section.deal-content.deal-user-info
        .deal-content__inner
          %p.deal-user-address
            = @deal.buyer.address
      %section.deal-content.deal-done-flow
  %footer.deal-done-footer
    = render "devise/shared/footer"