.single-container
  .single-container__header
    = render "devise/shared/header_one"
  .single-container__main
    %section.single-container__main__body.buy_item-container
      %h2.single-container__main__body__header 購入内容の確認
      %section.buy-content.item-info
        .buy-content__inner
          %h3.buy-content__inner__image
            = image_tag @deal.item.item_images.first.image.url
          %p.buy-content__inner__name.bold
            = @deal.item.name
          = form_for new_item_deal_path do |f|
            .form_for_buy
              %p.form_for_buy--price
                = number_to_currency @deal.item.price, unit: "¥", precision: 0
                %span
                  = @deal.item.postage_burden
              %ul.form_for_buy--available-point
                %li.form_for_buy--available-point--parent
                  .form_for_buy--available-point--parent--children
                    ポイントはありません
              %ul.form_for_buy--available-price
                %li.form_for_buy--available-price__container
                  .form_for_buy--available-price__container--cell
                    支払い金額
                  .form_for_buy--available-price__container--cell
                    %span.item-postage-burden.bold
                      = number_to_currency @deal.item.price, unit: "¥", precision: 0
        %section.buy-content.buy-user-info
        %section.buy-content.buy-user-info
  .single-container__footer