.single-wrapper
  = render "devise/shared/header_one"
  %main.single-primary
    .single-primary__inner
      .single-primary__inner__not_user
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", "/users/sign_up"
      .single-primary__inner__form
        %button.single-primary__inner__form__btn-facebook
          = fa_icon 'facebook-square', class: 'icon'
          Facebookでログイン
        %button.single-primary__inner__form__btn-google
          = fa_icon 'google', class: 'icon'
          Googleでログイン
        -# %ul.single-primary__inner__form__error
        -#   %li Facebookでの登録情報はありません。他の方法でログインをお試しください。
      %form{action: "https://www.mercari.com/jp/login/", method: "post", novalidate: "novalidate"}
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .single-primary__inner__form__groups
          .single-primary__inner__form__groups__group
            = f.email_field :email, placeholder: "メールアドレス", class: "single-primary__inner__form__groups__group__input"
          .single-primary__inner__form__groups__group
            = f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "single-primary__inner__form__groups__group__input"
          .single-primary__inner__form__groups__group
          = f.submit "ログイン", class: "single-primary__inner__form__groups__login"
          = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/"
      



  = render "devise/shared/footer"
