%section.main-content__pick-up__items-box-content
  -# TODO:アイテムがSOLDの状態の際にビューに反映されるように修正が必要
  - items.each do |item|
    %section.items-box
      = link_to items_path(item.id) do
        %figure.items-box__photo
          = image_tag item.item_images.first.image.url
        .items-box__body
          %h3.items-box__body__name.font-2
            = item.name
          .items-box__body__num
            .items-box__body__num--price.font-5
              = number_to_currency item.price, unit: "¥", precision: 0
              %i.icon-like-border.font-2
.all_items_link
  = link_to "すべての商品を見る", "#"