= render partial: 'partial/header'
- breadcrumb :root
%main.main-content
	= render partial: 'items/top-banner'
	%section.main-content__pick-up
		%h2.main-content__pick-up--top
			ピックアップカテゴリー
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'レディース新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
								
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'メンズ新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
		
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'ベビー・キッズ新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
			
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'コスメ・香水・美容新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
				
	%section.main-content__pick-up
		%h2.main-content__pick-up--top
			ピックアップブランド
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'シャネル新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
			
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'ルイヴィトン新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}
			
		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'シュプリーム新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}

		%section.main-content__pick-up__items-box-container.clearfix
			%h3.main-content__pick-up__items-box-container--top.text-center
				= link_to 'ナイキ新着アイテム', "#"
			= render partial: 'items/item-container', locals: {items: @items}

%aside.app-banner
	= render partial: 'items/bottom-banner'
			
= render partial: 'partial/footer'
= render partial: 'partial/item-buy-btn'
