.detail
  .detail-header
    = render 'partial/header'
  .detail-container
    %h1.container__header
      = @item.name
    .container
      .container__left__contents
        .container__left__contents__image-large
          -#= image_tag @item.item_images.first.image.url
        .container__left__contents__image-small
      %table.container__right__contents
        %tbody.container__right__contents__table
          %tr
            %th 出品者
            %td
              = @item.user.nickname
              .review
                %span.good 10
                %span.normal 10
                %span.bad 10
          %tr
            %th カテゴリー
            %td
              = @item.category.name
          %tr
            %th ブランド
            %td= @item.brand_id
          %tr
            %th 商品のサイズ
            %td= @item.size
          %tr
            %th 商品の状態
            %td
              = @item.condition.name
          %tr
            %th 配送料の負担
            %td
              = @item.post_burden.name
          %tr
            %th 配送の方法
            %td 手渡し
          %tr
            %th 配送元地域
            %td
              = @item.source_area.name
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_date.name
    .container__price
      %span.price
        = number_to_currency @item.price, unit: "¥", precision: 0
      %span.item-tax (税込)
      %span.shipping-fee
        = @item.post_burden.name
    .container__purchace-button
      = link_to '購入確認画面へ進む',new_item_deal_path(params[:id])
    .container__description
      = @item.description
    .container__buttons
      .container__buttons__left
        = button_tag type: 'button', class: 'button-like' do
          %span.like-icon いいね!
          %span 0
        = button_tag type: 'button', class: 'report' do
          %span 不適切な商品の報告
      = link_to '#', class: 'contaqiner__buttons__right' do
        %span.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
  .status-change-btn
    .status-change-btn__edit
      =link_to '商品の編集',edit_item_registration_form_path(params[:id])
    %p or
    .status-change-btn__stop
      = link_to '出品を一旦停止する', '#'
    .status-change-btn__delete
      = link_to 'この商品を削除する', item_path(params[:id]), method: :destroy, data: {confirm: '削除すると二度と復活できません。削除する代わりに停止することもできます。本当に削除しますか？'} 
  .comment
    %p.comment__caution 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = form_tag '/', method: :get, class: 'comment__form' do
      = text_area_tag "comment__form__body"
      = submit_tag "コメントする", class: 'comment__form__submit'
    
  .prev-next-page
    .prev-page
      = link_to '#' do
        %span.fas.fa-chevron-left
        %span 前の商品
    .next-page
      = link_to '#' do
        %span 次の商品
        %span.fas.fa-chevron-right


  .sns
    = link_to '#', class: 'sns__link' do
      %span.fab.fa-facebook-square
    = link_to '#', class: 'sns__link' do
      %span.fab.fa-twitter-square
    = link_to '#', class: 'sns__link' do
      %span.fab.fa-pinterest-square
  .detail-footer
    - breadcrumb :mypage
    = breadcrumbs separator: " &rsaquo; "
    = render 'partial/footer'