.detail
  .detail-header
    = render 'partial/header'
  .detail-container
    %h1.container__header
      = @item.name
    .container
      .container__left__contents
        .container__left__contents__image-large
          -#= image_tag @item.item_images.first.image.url
        .container__left__contents__image-small
      %table.container__right__contents
        %tbody.container__right__contents__table
          %tr
            %th 出品者
            %td
              = @item.user.nickname
              .review
                %i.fas.fa-laugh-beam
                %span 100
                %i.fas.fa-meh
                %span 100
                %i.fas.fa-frown
                %span 000
          %tr
            %th カテゴリー
            %td
              = @item.category.name
          %tr
            %th ブランド
            %td ブランド名
          %tr
            %th 商品のサイズ
            %td サイズ
          %tr
            %th 商品の状態
            %td
              = @item.condition.name
          %tr
            %th 配送料の負担
            %td
              = @item.post_burden.name
          %tr
            %th 配送の方法
            %td 手渡し
          %tr
            %th 配送元地域
            %td
              = @item.source_area.name
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_date.name
    .container__price
      %span.price
        = number_to_currency @item.price, unit: "¥", precision: 0
      %span.item-tax (税込)
      %span.shipping-fee
        = @item.post_burden.name
    .container__purchace-button
      購入画面に進む
    .container__description
      商品説明文
    .container__buttons
      .container__buttons__left
        = button_tag type: 'button', class: 'button-like' do
          %i.far.fa-heart.like
          %span いいね!
          %span 0
        = link_to '#', class: 'report' do
          %i.far.fa-flag
          %span 不適切な商品の報告
      .container__buttons__right
        = link_to '#', class: 'detail__others--right' do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  
  .comment
    %p.comment__caution 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = form_tag '/', method: :get, class: 'comment__form' do
      = text_area_tag size: "650x85", class: "comment__form__body"
      = submit_tag "コメントする", class: 'comment__form__submit'
    
  .prev-next-page
    .prev-page
      = link_to '#' do
        %i.fas.fa-chevron-left
        %span 前の商品
    .next-page
      = link_to '#' do
        %span 次の商品
        %i.fas.fa-chevron-right


  .sns
    = link_to '#', class: 'sns__link' do
      %i.fab.fa-facebook-square.sns-box__link__facebook
    = link_to '#', class: 'sns__link' do
      %i.fab.fa-twitter-square.sns-box__link__twitter
    = link_to '#', class: 'sns__link' do
      %i.fab.fa-pinterest-square.sns-box__link__pinterest

  .other-items
    = link_to "#さんのその他の出品", '#', class: 'other-items__header'
    .other-items__card
      アイテムカードへ、商品トップページからrender
    = link_to "#のその他の商品", '#', class: "other-items__header"
    .other-items__card
      アイテムカードへ、商品トップページからrender

  .detail-footer
    = render 'partial/bread-crumbs'
    = render 'partial/footer'